*.aux
*.blg
*.dvi
*.fdb_latexmk
*.cb
*.cb2
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lol
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.pdf
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0
*.swp
Thumbs.db
